# Ignore everythings in the $HOME folder
*


# Excluding

!LICENSE
!README.md

## git
!.gitconfig
!.gitignore

## editorconfig
!.editorconfig

## gpg
!.gnupg
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf

## nodejs
!.npmrc

## ssh
!.ssh
!.ssh/config
!.ssh/hosts
!.ssh/hosts/github.com
!.ssh/hosts/github.com/config

## vim
!.vimrc

## zsh shell
!.zlogout
!.zprofile
!.zshenv
!.zshrc

## .config folder
!.config

### bat
!.config/bat
!.config/bat/config

### delta
!.config/delta
!.config/delta/themes.gitconfig

### direnv
!.config/direnv
!.config/direnv/direnv.toml

### fzf
!.config/fzf
!.config/fzf/config.zsh

### gh
!.config/gh
!.config/gh/config.yml

### git
!.config/git
!.config/git/ignore

### lazygit
!.config/lazygit
!.config/lazygit/config.yml

### linearmouse
!.config/linearmouse
!.config/linearmouse/linearmouse.json

### pip
!.config/pip
!.config/pip/pip.conf
