# Ignore everythings in the $HOME folder
*


# Excluding

!LICENSE
!README.md

!.gitconfig
!.gitignore

!.editorconfig

!.zshenv
!.zprofile
!.zshrc
!.zlogout

!.vimrc

!.config

!.config/delta
!.config/delta/themes.gitconfig

!.config/git
!.config/git/ignore
