# Ignore everythings in the $HOME folder
*


# Excluding

!LICENSE
!README.md

!.gitignore

!.zshenv
!.zprofile
!.zshrc
!.zlogout

!.gitconfig

!.config

!.config/delta
!.config/delta/themes.gitconfig

!.config/git
!.config/git/ignore
